.customIceCream-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffcccb; /* Strawberry background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customIceCream-container h2 {
  text-align: center;
  color: #4e342e; /* Chocolate color */
}

.customIceCreams {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.customIceCream {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #4e342e; /* Chocolate boxes */
  padding: 10px;
  border: 1px solid #4e342e;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.customIceCream header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff; /* Vanilla accents */
}

.customIceCream ul {
  font-size: 0.9em;
  color: #fff; /* Vanilla accents */
  margin: 5px 0;
}

.customIceCream li {
  list-style-type: none;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-btn,
.edit-btn {
  background-color: #fff; /* Vanilla background */
  color: #4e342e; /* Chocolate color */
  padding: 5px 10px;
  border: 1px solid #4e342e;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.order-btn:hover,
.edit-btn:hover {
  background-color: #4e342e; /* Chocolate color */
  color: #fff; /* Vanilla accents */
}

@media (max-width: 768px) {
  .customIceCream {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .customIceCream {
    flex: 1 1 100%;
  }
}
